@charset "utf-8";  
  * {margin:0; padding:0; box-sizing:border-box; font-family:"맑은 고딕";}
  ul, ol, li {list-style:none; margin:0; padding:0;}
  a {text-decoration:none;}

  /*header*/
  header {width:100%; height:278px; display: flex; flex-direction: column; align-items:center; border-bottom:1px solid rgb(37, 165, 37);}
  .header_top {width:100%; height:70px; background-color:#F4F4F4; display:flex; justify-content:space-evenly;}
  .header_top > img {height:100%;}
  .header_top > .fa-regular {font-size:18px; margin-top:25px;}

  .header_middle {width:1200px; height:42px; background-color: aqua; display:flex; justify-content:space-between;}
  .middle_nav {margin-left:-50px; width:650px; height:42px; float:left; background-color: azure; display:flex; justify-content:space-around; align-items: center;}
  .middle_nav > li {font-size:13px;}

  .middle_nav2 {width:250px; display:flex; justify-content:space-around; align-items: center;}
  .middle_nav2 > li {font-size:12px;}

  .header_logo {width:1200px; height:80px; background-color: blueviolet;}
  .nav {width:1200px; height:86px; background-color: coral;}

  /*footer*/
  footer {width:100%; height:305px; background-color: antiquewhite;}